/*
https://www.realtimecolors.com/?colors=fdfcfd-1e0a1f-5b4d5c-012441-287abd&fonts=Roboto%20Slab-Roboto
*/

/* font stuff */
@import url('https://fonts.googleapis.com/css?family=Roboto Slab:700|Roboto:400');

body {
	font-family: 'Roboto';
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab';
	font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

/* color themes */
:root[data-theme="light"] {
	--text: #030203;
	--background: #f4e0f5;
	--primary: #b1a3b2;
	--secondary: #bee1fe;
	--accent: #4294d7;
}

:root[data-theme="dark"] {
	--text: #fdfcfd;
	--background: #1e0a1f;
	--primary: #5b4d5c;
	--secondary: #012441;
	--accent: #287abd;
}

