/*
https://www.realtimecolors.com/?colors=d7e8f4-030e16-750080-112a3c-1098f9&fonts=Poppins-Poppins
*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto Slab:700');
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:wght@700");

h1, h2, h3, h4, h5, summary {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

h1, h2 {
	text-decoration: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 0.2rem;
}

h4, h5 {
	margin-bottom: -0.5rem;
	padding-bottom: 0.0rem;
}

html {font-size: 100%;}		/* 16px */
h1 {font-size: 2.441rem;	/* 39.1px */}
h2 {font-size: 1.953rem;	/* 31.2px */}
h3, summary {font-size: 1.563rem;	/* 25.0px */} /* TODO: make bigger difference with other headings? */
h4 {font-size: 1.25rem;	/* 20.0px */}
h5 {font-size: 1.25rem;	/* 16.0px */}
small, p, li, nav, footer {
	font-size: 1.25rem;	/* 20.0px */
} /* TODO: add all other p-sized text */

:root {
	/* color palette v2 */
	/* --text: #ebebeb;
	--background: #171a1c;
	--primary: #003566;
	--secondary: #050529;
	--secondary-hover: #010106;
	--accent: #0a81f0;
	--link: #e9640c;
	--cursor-highlight: #c9bc45; */

	/* color palette v3 */
	--text: #eBebeb;
	--background: #1a3044;
	--primary: #00498d;
	--secondary: #07121d;
	--secondary-hover: #0b1c2d;
	--accent: #2f7ac1;
	--link: #f47906;
	--highlight: #8eb663;

}
/* TODO: figure out how to let user switch between light and dark (?) */

::selection {
	background: var(--highlight);
	color: var(--secondary);
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	color: var(--text);
	background: var(--background);
	padding: 0% 10%;

	/* box-shadow: 0 3px 5px rgba(0,0,0,0.3); */
}

a {
	color: var(--link);
}

mark {
	background-color: var(--primary);
	color: var(--text);
}

strong {
	font-weight: 700;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding: 1.0rem 1.0rem; */
}

div {
	color: var(--text);
	background: var(--background);
}

/* add background to top navigation bar */
nav {
	background-color: var(--secondary);
	overflow: hidden;
	border-radius: 0.5rem;
	/* border-style: solid;
	border-color: var(--secondary);
	border-width: 0.2rem; */
	/* center nav bar */
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* padding: 0% 1.0rem; */
}

/* style links in top nav bar */
nav > a {
	/* font-family: 'Roboto Slab'; */
	float: left;
	display: block;
	background-color: var(--secondary);
	color: var(--accent);
	text-align: center;
	padding: 1.0rem 1.2rem;
	text-decoration: none;
}

/* change color of links on hover */
nav > a:hover {
	/* background-color: var(--background); */
	background-color: var(--secondary-hover);
	/* color: var(--text); */
	
	/* color: var(--accent); */
}

/* add an active class to highlight current page */
nav > a.active {
	background-color: var(--primary);
	color: var(--text);
}

/* hide link that should open and close the top nav on small screens */
/* nav > .icon {
	display: none;
} */

/* .project-category {
	border: 0.2rem solid;
	border-radius: 1.0rem;
	border-color: var(--secondary);
	padding: 0.1rem 1.0rem;
} */

hr {
	margin: 0% 5%;
	margin-top: 1.0rem;
	margin-bottom: 1.0rem;
	/* border-top: 0.5rem solid var(--primary);
	border-radius: 0.5rem; */
}

.separator-1 .separator-2 {
	background-color: var(--link);
}

/* TODO: footer stuff */
footer {
	border-radius: 0.5rem;
	background-color: var(--secondary);
	padding: 0.2rem 1.2rem;
	margin-top: 4.0rem;
	margin-bottom: 4.0rem;
}

summary {
	cursor: pointer;
}

details {
	margin-left: 2.5%;
	margin-bottom: 2.0rem;
	padding: 0% 1%;
}

details[open] summary ~ * {
	animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
	0%		{opacity: 0; margin-left: 0px}
	100%	{opacity: 1; margin-left: 5%}
}

video, .game-image {
	width: 80%;
	/* max-width: 960px; */
	max-width: 70.0rem;
	margin-top: 1.0rem;
}

details > video,
details > p,
details > h4,
details > ul,
details > img {
	margin-left: 5%;
	margin-right: 10%;
	/* padding-left: 5%;
	padding-right: 10%; */
}

.me {
	margin-top: 2rem;
	max-width: 12rem;
	border-radius: 100%;
}

